/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


body {
  scrollbar-x: hidden;
}


.logo {
  display: grid;
  /* background-color: #3b5998; */
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
  color: white;
}

.crown{
  height: 170vh;
  
}
.crown h2{
  font-weight: 700 ;
  color: black;
  font-size: x-large;
  text-align: center;
}
.crown h3{
  text-align: center;
  padding-top: 20px;
  color: black;
  font-weight: 500;
  font-size: 30px;
}
.crown h6{
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  border: none;
  
}
.crown .signupButtons{
  text-align: center;
}
 .facebook{
  margin: 2px 0px 10px 0px;
  width: 30vw;
  height: 6vh;
  background-color: #4267B2;
  border-radius: 20px 20px 20px 20px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: smaller;
}
.apple{
  margin: 2px 0px 10px 0px;
  width: 30vw;
  height: 6vh;
  background-color: rgb(14, 13, 13);
  border-radius: 20px 20px 20px 20px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: smaller;
}
.crown .google{
  margin: 2px 0px 10px 0px;
  width: 30vw;
  height: 6vh;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  border-color: black;
  color: black;
  font-weight: 600;
  font-size: smaller;
}
.number{
  margin: 2px 0px 10px 0px;
  width: 30vw;
  height: 6vh;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  border-color: black;
  color: black;
  font-weight: 600;
  font-size: smaller;
}
.signupForm{
  margin-left: 350px;
  font-weight: 700;
  font-size: 12px;
}
.signupForm p{
  font-size: 10px;
  font-weight: 500;
  color: red;
  text-decoration: underline;
}
.signupInput{
  width: 35vw;
  height: 7vh;
  padding-left: 1%;
  margin-top: 4px;
}
.signupLabel{
  margin-top: 12px;
}
.birthrow{
  display: flex;
}

.login{
  height: 100vh;
  width: 100vw;
}

.naav{
  position: absolute;
  
  background-color: black;
  padding: 1% 5%;
}
nav .navbar-nav li a{
  color: white !important ;
  }
nav .navbar-nav li a:hover {
  color: red !important ;
}


.hr{
  color: white;
  width: 30%;
}


.bodyy h1{
 padding-top: 480px;
  text-align: center;
  font-size: 700%;
}
.bodyy p{

text-align: center;
}
.bodyy-2{
  height: 70vh;
  text-align: center;
  padding-top: 200px;
  background-color: rgb(248, 116, 8);
  color: white;
}
.bodyy-2-2{
  height: 40vh;
  text-align: center;
  padding-top: 50px;
  background-color: white;
  color: black;
}
.bodyy-2-2 h2{
  font-weight: 700;
}

.btnn{
padding: 7px 25px;
color: red;
border: none;
border-radius: 20px 20px 20px 20px;
text-align: center;
margin-left: 600px;
}
.btnn-2{
  padding: 7px 25px;
color: rgb(248, 116, 8);
border: none;
border-radius: 20px 20px 20px 20px;
text-align: center;
}


.sidebar {
  background-color: black;
  height: 86vh;
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  width: 200px;

}


.sidebar a{
  display: block;
  padding: 6px 16px 6px 26px;
  text-decoration: none;
  font-weight: 600;
  font-size: small;
  color: grey;
}
.sidebar hr{
  margin: 5% 12%;
  color: white;
  
}
.sidebar .auto{
position: relative;
top: 300px;
}
.sidebar .auto a{
  color: white;
}

.sidebar a:hover{
  color: red !important;
}
.sidebar a.active{
  color: white;
}
.main{
  display: flex;
}
.content{
  color: white;
  background-color: rgb(34, 30, 30);
  margin-left: 200px;
  padding-top: 55px;
  padding-left: 20px;
 width: 84.17vw;
 height: 300vh;
}
.content h1{ 
  color: white;
  font-size: xx-large;
}
.content h5{
  padding-top: 3%;
  padding-left: 5%;
}
.topnav{
  overflow: hidden;
  margin-left: 200px;
  position: fixed;
  padding: 1% 3%;
 display: flex;
 background-color: rgb(34, 30, 30);
 width: 90vw;

}
.topnav:colorChange{
  background-color: black !important;
}
.split{
  float: left;
  padding: 2px 15px;
color: white;
border: 1px solid grey;
border-radius: 20px 20px 20px 20px;
font-size: small;
text-align: center;
margin-left: 650px;
background-color: rgb(34, 30, 30);

}
.split:hover{
  color: red;
  background-color: black;
}

/* player section */
.total{
  display: flex;
  border-top: 1px solid grey;
  width: 100vw;
  height: 11.5vh;
  position: fixed;
  background-color: rgb(34, 30, 30);
  left: 0;
  bottom: 0;
  color: white;
}
